[2016-01-28 17:58] thanhnh-infinity opened #1 "Receive real device iPhone 5S from Dr Pontelli"

[2016-01-28 17:58] thanhnh-infinity opened #2 "Active test device IPhone 5S with Nano sim"

[2016-01-28 17:59] thanhnh-infinity opened #3 "Build OCR app user interface on iOS"

[2016-01-28 18:00] thanhnh-infinity opened #4 "Build actions and user interactives on View for OCR iOS App"

[2016-01-28 18:01] thanhnh-infinity opened #5 "Build Take Picture from Camera for OCR iOS App"

[2016-01-28 18:01] thanhnh-infinity opened #6 "Implement function to get text from picture for OCR iOS App"

[2016-01-28 18:02] thanhnh-infinity opened #7 "Implement function to build Tree from Text by call to Phylotastic Web Service (OCR iOS App)"

[2016-01-28 18:03] thanhnh-infinity opened #8 "Implement function View Tree on OCR iOS App (use OneZoom library)"

[2016-01-28 18:04] thanhnh-infinity opened #9 "Build function access photo in Photos Library (in device) for OCR iOS App"

[2016-01-28 18:06] #1 closed, assigned to thanhnh-infinity

[2016-01-28 18:06] #3 closed, assigned to thanhnh-infinity

[2016-01-29 23:35] #2 closed, assigned to thanhnh-infinity

[2016-02-04 21:49] #8 closed, assigned to thanhnh-infinity

[2016-02-04 21:49] #7 closed, assigned to thanhnh-infinity

[2016-02-04 21:49] #6 closed, assigned to thanhnh-infinity

[2016-02-04 21:49] #4 closed, assigned to thanhnh-infinity

[2016-02-04 21:50] #9 closed, assigned to thanhnh-infinity

[2016-02-08 01:42] thanhnh-infinity opened #10 "Distribute iOS App by TesfFlight"

[2016-02-08 01:43] thanhnh-infinity opened #11 "Improve iOS OCR App to collect multiple images"

[2016-02-08 01:48] thanhnh-infinity opened #12 "Try to integrate OneZoom lib to iOS native code"

[2016-02-09 14:55] arlin commented on #11
Is this issue about adding the functionality to build a tree from names collected from multiple images?  Please provide more description.

[2016-02-09 14:58] arlin commented on #11
I think _incremental_ construction of the tree will be most interesting to users.  That is, rather than expecting the user to gather a set of names A, B, C ... Z and then retrieve the final tree, get the tree for the first 3 species, e.g. (A, (B, C)), then just keep "adding" to that by retrieving a new tree each time a species is added, e.g., ((A,D), (B,C)) and so on.

[2016-02-11 21:34] arlin commented on #5
demo at group meeting

[2016-02-11 21:36] #5 closed, assigned to thanhnh-infinity

[2016-02-11 22:32] arlin opened #13 "incremental mode of tree generation"
Implement an incremental mode of tree generation:
1. take photo -> get species -> add to list
2. repeat #1 until there are 3 species in list
3. make tree from list
4.  take photo -> get species -> add to list
5.  make tree from list
6.  repeat 4 & 5, or discard list and start again

[2016-02-11 23:48] thanhnh-infinity commented on #11
Yes, Arlin. I've got it. Keep working on it

[2016-02-12 21:36] arlin opened #14 "install Rails on macbook"
Dail, I can help you with this.  I used these instructions:

https://gorails.com/setup/osx/10.9-mavericks

and my notes are on  phylotastic-portal#27

[2016-02-16 19:39] hdliv commented on #10
I have been testing it...  where should we give feedback?

[2016-02-16 19:42] hdliv commented on #14
i had ruby and rbenv already installed and rails is there...but I am working with van to iron out some other problems that are occurring during `bundle install`

[2016-02-16 22:25] arlin commented on #14
Did you see what I wrote for #27?  After you get postgresql installed using brew, try using

env ARCHFLAGS="-arch x86_64" gem install pg -v '0.17.1'

[2016-02-16 22:28] arlin commented on #14
This ticket is in the wrong repo.  @hdliv, I added you to the developer list so that I could assign this ticket to you and move it into "in progress", as you are working on it already.

[2016-02-17 20:59] hdliv opened #15 "Testing initial iOS App"

[2016-02-18 16:18] hdliv commented on #14
@arlin spent the morning reading about whatever bug is in osx-capitan.  the error i was getting with `bundle install` was:

 `mini_ssl.c:4:10: fatal error: 'openssl/bio.h' file not found`
`#include <openssl/bio.h>`

Following:  https://coderwall.com/p/c_fnsa/fix-openssl-errors-when-installing-ruby-gems-in-osx-10-11-el-capitan
verified if OpenSSL was actually installed, then ran
`bundle config buil

[2016-02-18 16:24] hdliv commented on #15
Tested @thanhnh-infinity App on parts of textbooks, posters, and taking photos of printed binomial spp. at different distances.

[2016-02-18 21:56] hdliv commented on #15
after meeting 18-Feb, I will send @thanhnh-infinity these data

[2016-02-18 22:05] #14 closed, assigned to hdliv

[2016-02-18 22:06] #10 closed, assigned to thanhnh-infinity

[2016-02-24 21:57] arlin commented on #15
Also did some tests.  The character recognition is much better.  We are experiencing some odd behavior, however.

[2016-02-24 21:58] arlin commented on #15
<IMG_1820.JPG>

[2016-02-24 22:30] arlin opened #16 "set up gallery for test photos"
Arlin set up an initial gallery in flickr.  but maybe there is a better way to do it.

[2016-02-25 21:05] #13 closed, assigned to thanhnh-infinity

[2016-02-25 21:05] #11 closed, assigned to thanhnh-infinity

[2016-02-26 23:39] arlin opened #17 "mobile app UI redesign"
Now that the mobile app seems viable, I'd like to redesign the UI.

[2016-02-26 23:40] arlin commented on #17
use-case and workflow description here:
https://github.com/phylotastic/Phylotastic_Mobile_Application/blob/master/design/workflows.md

[2016-02-26 23:41] arlin commented on #17
Live mock-up here: http://lumzy.com/access/?id=9F68634BA781D0C704832865D01C6BEC

[2016-03-01 20:01] arlin opened #18 "better gallery for test images"
Set up some directories with images for testing name extraction.

[2016-03-01 20:03] arlin commented on #18
Added 98 images of species signs from Longwood gardens.  These are in one directory.

Identified a handful of images that are somewhat more challenging for OCR due to blur, double-image, low contrast, etc.

Added csv files that indicate what the result of successful name extraction should be.

Added a README to explain this system.

[2016-03-02 06:22] thanhnh-infinity commented on #12
We are no longer using OneZoom lib in Mobile App

[2016-03-02 17:15] thanhnh-infinity opened #19 "Test OCR quality - Easy images folder - Longwood Gardens"

[2016-03-02 21:07] thanhnh-infinity commented on #19
I tested  photos in Easy folder and notes result in easy.csv file.

[2016-03-02 21:34] arlin commented on #19
Thanks, @thanhnh-infinity.  I looked at this and fixed two errors in the test list of species names.

Is the percentage accuracy on a per-character basis?  We need to look at this also in the context of name-recognition.  Ailanthus becomes "anthus" and Alliara becomes "AMiaria".  In both cases, there was a somewhat blurry double image of "ll".   I wonder if we could still recognize these names via

[2016-03-02 21:35] arlin commented on #19
I have checked with GNRD and those two cases are failures in the sense of getting the correct species.   If I send GNRD exactly the text that is scraped by OCR for the 12 species, it finds 10 species correctly and adds "Nakai anthus"  which is wrong.

[2016-03-02 21:54] thanhnh-infinity commented on #19
@arlin : percentage accuracy right now, I try to quickly diagnose from equation correct characters/ total characters. I am not sure it is correct 100% because I count it manually. I will be correct them later.

Yes, Dr Arlin, OCR cannot get 100% correct text in 100% cases. The most powerful tool also guarantees 90 - 98% depend on reality cases. So that the very important thing is GNRD can check an

[2016-03-02 21:55] thanhnh-infinity opened #20 "Test OCR quality - MEDIUM images folder"

[2016-03-02 21:55] thanhnh-infinity commented on #20
I tested  photos in MEDIUM folder and notes result in medium.csv file.

[2016-03-02 22:54] thanhnh-infinity opened #21 "Test OCR quality- Longwood Gardens Signage"

[2016-03-02 22:54] thanhnh-infinity opened #22 "Test OCR quality- Longwood Gardens Multisigns"

[2016-03-02 22:58] arlin commented on #19
I have used your OCR results as input to GNRD to estimate the accuracy of going from image to validated name.  The results are pretty good.  I added the results to easy.csv and medium.csv.

[2016-03-03 18:42] hdliv opened #23 "Test OCR quality with 'hard' images"
'

[2016-03-03 21:06] #16 closed, assigned to arlin

[2016-03-03 21:08] #18 closed, assigned to arlin

[2016-03-03 21:13] #17 closed, assigned to arlin

[2016-03-03 21:13] #20 closed, assigned to thanhnh-infinity

[2016-03-03 21:13] #19 closed, assigned to thanhnh-infinity

[2016-03-05 08:43] thanhnh-infinity opened #24 "estimate time for new design and workflow - mobile app"

[2016-03-05 08:43] thanhnh-infinity opened #25 "Start developing app framework"

[2016-03-05 08:44] thanhnh-infinity opened #26 "Design home page layout"

[2016-03-05 08:45] thanhnh-infinity opened #27 "Design image view page layout"

[2016-03-06 08:46] thanhnh-infinity opened #28 "Design tree view layout"

[2016-03-06 08:48] thanhnh-infinity commented on #24
from 1 to 2 weeks. I can complete

[2016-03-06 08:49] thanhnh-infinity opened #29 "Design species name list layout"

[2016-03-06 08:51] thanhnh-infinity opened #30 "implement image view - take photo from camera or photo library"

[2016-03-06 08:52] thanhnh-infinity opened #31 "implement image view - Run OCR engine for selected photo"

[2016-03-06 08:53] thanhnh-infinity opened #32 "implement image view - call web service to get scientific names"

[2016-03-06 23:12] arlin opened #33 "add images from zoo trip"
I took 30 sign images at the zoo this morning.  Put them in github with csv file, README.

[2016-03-06 23:12] arlin commented on #33
These are in test/image/batch/national_zoo_signage .

[2016-03-06 23:15] arlin opened #34 "video-cast mobile app how-to"
1. write script
2. practice
3. record
4. edit

[2016-03-06 23:19] arlin opened #35 "annotate "hard" images"
Dail, thanks for adding some photos in test/images/hard !

To complete this, we need the metadata added in test/images/hard.csv .  Look at medium.csv for examples.   Note that image quality and OCR-difficulty are too different things, e.g., hand-writing is a challenge even if the image quality is high.  Your images are all high quality, except perhaps that the cryptophyte poster is affected by gla

[2016-03-07 15:48] hdliv commented on #35
working on it.  Interestingly, the handwriting is being captured

[2016-03-07 17:59] thanhnh-infinity opened #36 "implement tree view : call web service to get tree from species names"

[2016-03-07 18:00] thanhnh-infinity opened #37 "implement tree view : Display Tree"

[2016-03-09 19:01] thanhnh-infinity opened #38 "implement local storage : store new species names in list after collecting from images"

[2016-03-09 19:02] thanhnh-infinity opened #39 "implement local storage : add and store new species master list"

[2016-03-09 19:03] thanhnh-infinity opened #40 "implement local storage : images and tree galery"

[2016-03-09 19:05] thanhnh-infinity opened #41 "implement UX : notifications"

[2016-03-10 19:58] arlin opened #42 "rename repo with shorter name"
no need to repeat "phylotastic" in everything.  we can use "pt" in short names.

see: http://zanshin.net/2012/04/03/renaming-github-repository/

[2016-03-10 20:10] arlin commented on #15
@hdliv, I think we are done with the kind of testing that was requested.  the next phase of testing will be with the MVP and our external testers.  can you move this ticket?

[2016-03-10 20:18] hdliv commented on #23
I have started to work on this, but don't know if it is a prioroty

[2016-03-10 21:04] #33 closed, assigned to arlin

[2016-03-10 21:05] #24 closed, assigned to thanhnh-infinity

[2016-03-11 14:41] arlin opened #43 "how-to page"
Put a help or "?" icon in the bottom bar, link to HowTo page.  See suggested content here:

https://github.com/phylotastic/Phylotastic_Mobile_Application/blob/master/design/howto_page.html

This looks good in Chalkboard SE font at size 14.

[2016-03-11 16:09] arlin opened #44 "minor routing bug"
I found a minor routing bug. Do this:
1. from Home, choose Capture
==> alert box "please select a list..."
2. click OK to dismiss alert
3. now, choose a list (which is the right thing to do)
==> same alert box
4. now, choose a list
==> goes to list page

[2016-03-11 16:10] arlin opened #45 "delete name from list"
Allow user to delete name from list.

[2016-03-11 16:13] arlin opened #46 "export tree"
Allow the user to export the tree in at least 1 way, such as email or send to browser.

[2016-03-11 17:08] hdliv opened #47 "Ability to combine lists"
It would be nice to combine more than 1 list

[2016-03-11 17:16] hdliv opened #48 "add a NO option when prompted to add another photo"
When I add a photo: 'Your new species names are updated already in current list of species names.  Do you want to continue continue capture photo?

I can only choose: Cancel or OK.

[2016-03-11 20:29] arlin commented on #44
This same bug happens in the Capture  view.  Choose "Use this image" when the image is blank.  App responds with alert.  Now try to choose from photo library.  App responds with alert.  Try it again, app is OK now.

That is, there is some kind of "echo" effect here, by which the alert box is induced when a correct choice follows a wrong choice.
right choice ==> no alert
wrong choice ==> alert
righ

[2016-03-11 21:04] arlin commented on #48
This is superceded by the suggestions in #49

[2016-03-11 21:06] arlin opened #49 "Refinements to add value to MVP"
We have come up with a set of medium and low priority items that could be considered for teh MVP, as many of them are simply a matter of changing embedded text content.

All of the items are described in a PowerPoint presentation in the mobile app repo in design/mobile_app_mvp_priorities.pptx

[2016-03-11 21:06] #48 closed, assigned to nobody

[2016-03-12 04:28] thanhnh-infinity commented on #44
I've got this bug. It will be fixed in next release

[2016-03-13 13:35] #39 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #38 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #36 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #32 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #31 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #25 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #29 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #27 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #26 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #28 closed, assigned to thanhnh-infinity

[2016-03-13 13:35] #30 closed, assigned to thanhnh-infinity

[2016-03-13 13:36] #37 closed, assigned to thanhnh-infinity

[2016-03-14 18:16] arlin opened #50 "remove ottIds from display names on trees"
For instance, "Felis_pardus_ott7348743" should be displayed as "Felis pardus"

[2016-03-14 18:28] arlin commented on #23
@hdliv, please be sure to push any changes you made to hard.csv .

[2016-03-14 18:30] hdliv commented on #23
I will. I haven't finished due to more 50 names on some

[2016-03-14 18:59] arlin commented on #23
OK, I remember the problem.  It isn’t a rush.

On Mar 14, 2016, at 2:30 PM, Dail Laughinghouse <notifications@github.com<mailto:notifications@github.com>> wrote:

I will. I haven't finished due to more 50 names on some

—
Reply to this email directly or view it on GitHubhttps://github.com/phylotastic/Phylotastic_Mobile_Application/issues/23#issuecomment-196458922.

---

Arlin Stoltzfus (arlin@umd.

[2016-03-16 02:48] epontell commented on #46
Are we talking about the tree as a data structure (e.g., Newick string? NeXML?) or the image of the tree (e.g., exported to iPhone album?)

[2016-03-16 02:49] epontell commented on #45
We talked with Abu Saleh last week about providing add/delete operations as part of the species list server. We need to the best "gestures" to reflect these operations in the App

[2016-03-16 14:00] arlin commented on #46
I'm talking about data.  Right now, we have created a data workflow with a dead end.  Some users are going to go nuts if they can't get that tree out of the app and look at it elsewhere.  Easy solution #1 is just have an "email to me" button.  Easy solution #2 is to have a button to "open in browser" (send the tree in the url to the view service, like we were doing before), then the user can use t

[2016-03-16 14:01] arlin commented on #45
swipe-to-delete is pretty standard, right?

[2016-03-16 15:01] thanhnh-infinity commented on #46
Yes, I will create features "email to me" and "open in browser" in App after we had tree

[2016-03-16 15:03] thanhnh-infinity commented on #45
Professors, right now, I do not use server (back-end to store species data). I stored them locally only. I think in next step, if you want to store them in server-side, we can create sync  mechanism between client and server. After complete them, all actions like add, edit, delete local data will be synced with data in server

[2016-03-17 04:53] thanhnh-infinity commented on #45
You can swipe-to-right to delete species. Press OK to confirm delete

[2016-03-17 04:54] thanhnh-infinity commented on #44
But is fixed

[2016-03-17 04:56] thanhnh-infinity commented on #46
Professors,

Press button Export in Header, you can select one of export methods.

Right now, "Email to me" is not working because we need supports from server to allow receive tree data from app, send email to user (Open port to send email, develop email module, build mail server).

"Open in Browser" works well

[2016-03-17 04:58] thanhnh-infinity commented on #43
How-To page is added already. In Home Page, press the Help button in Footer, you can go to How-To page

[2016-03-17 15:06] hdliv commented on #45
it would also be nice to swipe and delete whole lists, not just single names in a list

[2016-03-17 15:25] hdliv commented on #23
@arlin hard.csv has been updated

[2016-03-17 17:19] arlin commented on #44
Good to hear!  please move this ticket to "review" and i will review it.

[2016-03-17 17:20] arlin commented on #41
@thanhnh-infinity, please provide more detail on this issue so that it can be reviewed.

[2016-03-17 17:21] arlin commented on #44
I have tested this and the bug is gone.  Thanks.

[2016-03-17 17:28] thanhnh-infinity commented on #45
If delete whole list, you can implement feature : go to master list and delete master list. Right now, this feature is not deployed. If it is approved, I will implement this. However, when go inside the list, swipe and delete only one single name each time is better than delete multiple names.

[2016-03-17 17:39] thanhnh-infinity commented on #41
This issues includes all notifications for user inside app. For example, notify user No network connection, notify user select a  list, confirm when user wants to delete, notify users when get new names, ...

In addition, there are some UX (user experience) such as navigations, landscape, portrait, stylesheet for each page...

[2016-03-17 17:59] hdliv commented on #45
There can be lists with 50+ names, so it would be easier to delete whole list instead of sliding 50+ names.  However smaller lists are easy to delete one by one, as said.

[2016-03-17 18:28] arlin commented on #41
Thanks.   I will just move this to "Done" as we have all seen the notifications.

[2016-03-17 18:29] #41 closed, assigned to thanhnh-infinity

[2016-03-17 20:15] #45 closed, assigned to thanhnh-infinity

[2016-03-17 20:15] #44 closed, assigned to thanhnh-infinity

[2016-03-17 20:19] #15 closed, assigned to hdliv

[2016-03-17 20:20] #23 closed, assigned to hdliv

[2016-03-17 20:20] #35 closed, assigned to hdliv

[2016-03-17 23:18] arlin commented on #49
This list is being revised and expanding to cover all of the "medium" level priorities before the first release.  On Friday I will finish that and move this ticket into the "Ready" column.

[2016-03-17 23:21] arlin opened #51 "plan final sprint for MVP"
Finish developing the list of "medium" priority items to complete before releasing to alpha testers.

[2016-03-18 22:54] arlin commented on #49
this ticket is being replaced with a set of individual ones.

[2016-03-18 22:54] #49 closed, assigned to thanhnh-infinity

[2016-03-18 22:55] arlin opened #52 "Add help on 2 new features"
Add help on 2 new features as described in design/mobile_app_mvp_priorities.pptx .

Also, try to reformat the style so that the help text does not take up so much space.

[2016-03-18 22:57] arlin opened #53 "Inform user of captured names"
Inform user of captured names, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 22:57] arlin opened #54 "Clarify expected flow in Capture view"
Clarify expected flow in Capture view, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 22:58] arlin opened #55 "Clarify expected flow in Home view"
The first-time user may try to Capture without opening a list.  Explain the flow of operations (always choose a list first), as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 22:58] arlin opened #56 "De-clutter tree view"
De-clutter tree view by removing internal node labels and ottIds, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 22:59] arlin opened #57 "Add help button to every view"
Add help button to bottom strip in every view, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 23:00] arlin opened #58 "Improve Home view appearance"
Improve Home view appearance with logo and more consistent iOS styling, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 23:01] arlin opened #59 "Complete swipe-to-delete"
Implementation of swipe-to-delete is not complete without showing rightward movement of the swiped item, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 23:03] arlin opened #60 "Instruct user in empty capture alert"
Suggest to the user to try again in the empty capture alert, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 23:04] arlin opened #61 "Consistent styling on alerts"
Consistent use round corners on alert boxes, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 23:05] arlin opened #62 "More informative alert on login fail"
Add more informative alert message on login fail, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 23:05] arlin opened #63 "Suggest action to user on network fail"
Suggest action to user on network fail, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-18 23:06] arlin opened #64 "Alert for no-text-found"
Add alert for no-text-found, as described in design/mobile_app_mvp_priorities.pptx

[2016-03-21 15:00] arlin commented on #40
@thanhnh-infinity, are you working on this?   Let's discuss with @epontell whether this is a priority, OK?

[2016-03-21 16:38] thanhnh-infinity commented on #40
Yes, Dr Arlin. This issues refers to store tree and images that are taken from users on their devices. I will discuss with Dr Pontelli before I start working on it. Right now, it has not implemented yet.

[2016-03-22 21:02] thanhnh-infinity commented on #52
Fixed already. I made changes the content as you mentioned

[2016-03-22 21:03] thanhnh-infinity commented on #54
It works right now. Changed message for more information, disabled Cancel button; changed Species Names to View List

[2016-03-22 21:06] thanhnh-infinity commented on #55
It is working . Changed messages and labels

[2016-03-22 21:06] thanhnh-infinity commented on #50
Yes, all names are standardized before display Tree

[2016-03-22 21:08] thanhnh-infinity commented on #53
It works. Changed message so users can see scientific names in pop-up message; changed title also

[2016-03-22 21:15] thanhnh-infinity commented on #58
Changed icons, disabled un-necessary icons; change color for header/footer menu; inserted Phylotastic icon in header menu

I removed Text and keep only icons for Home, Capture and Help because I thought that theses icons are enough meaning to let user understand what are their  actions.

In addition, when I tried to use "icon is above text" for small screen (iPhone 4s; some android devices); It co

[2016-03-22 21:18] thanhnh-infinity commented on #56
Removed open tree ottids in tree is done right now.

But I do not know how to remove internal node, because when I receive the newick tree from Web Services. They are existed. So I think we should remove them from server-side ?

And If Yes, How can we remove them ?

[2016-03-22 21:19] thanhnh-infinity commented on #60
Yes, It is working

[2016-03-22 21:20] thanhnh-infinity commented on #57
Yes, It has worked

[2016-03-23 19:11] arlin commented on #56
we should find or develop toolbox code to do this, but if you just want a quick fix, I would suggest to use regular expressions-- probably something like  s/\)[^),;]+/)/g  will remove them.  Any name following a right parenthesis is an internal node name, and they will always be followed by either a comma or another right parenthesis or semi-colon if that's the end of the tree-string.

[2016-03-23 19:14] arlin commented on #58
I think this is a big improvement.

[2016-03-23 19:16] arlin commented on #52
This is good.  Were you able to make it more compact?  I don't see a difference.

[2016-03-23 19:32] arlin opened #65 "can't escape embedded viewer"
Go to "Help".
Click on any of the embedded links.
The page then opens in an embedded viewer, but there are no controls.  I can see this is an embedded viewer because if I minimize the app, I can see that only the app is running and not Safari.  But I no longer have any navigation control from within the app.  I can't escape from the embedded viewer to return to any of the other views.

We need to

[2016-03-23 19:33] arlin commented on #65
BTW, I'm using an iPhone 5 version 8.1.2

[2016-03-23 19:44] arlin commented on #50
Thanks, this is better.

[2016-03-23 19:48] arlin commented on #53
Thanks, tested this and it works for 1, 2 or 7 names.

[2016-03-23 19:53] arlin opened #66 "remove redundancy before adding to list"
Use image "multiple2.jpg" from mobile app repo (test/images/batch/longwood_gardens_multisigns).  Scrape names.  "Chambeyronia" appears 3 times on the sign, and is added to the list 3 times.  We should have a way to remove redundancy.

[2016-03-23 19:57] arlin commented on #46
Yes, this "Open in Browser" works well.

Currently, if the user presses the "email to me" button, there is no feedback, so the user may assume that the tree has been mailed.  This could be a source of frustration-- the user would lose the tree after having tried to save it.  Please hide "Email to me" until it is working, or post an alert that says "Sorry!  This feature is not implemented yet".

[2016-03-23 20:06] thanhnh-infinity commented on #56
Oh, that is good suggestion. I will try to do follow your guide.

[2016-03-23 20:09] thanhnh-infinity commented on #65
Yes, Dr Arlin. It will be fixed in the next release

[2016-03-24 00:53] thanhnh-infinity commented on #46
Yes, Dr Arlin. I will hide "Email to me" button

[2016-03-24 13:36] hdliv commented on #59
With the swipe to delete we are prompted: 'Do you want to delete Genus species out of current list?'  I would think Yes/No are more appropriate answers than Cancel/OK to the question asked.

[2016-03-24 14:17] hdliv opened #67 "3 scraped names returning 48 tips - no tips from original photo"
I put the image here: Phylotastic_Mobile_Application/test/images/hard/Eustigmatophyceae.jpg

OCR scrapes the 3 names, but the get tree returns 48 tips.  None of these tips are actually the 3 species from Eustigmatophyceae.jpg

Maybe an isolated case?

[2016-03-24 15:52] hdliv opened #68 "fuzzy matching eg. of problem"
scraping this image:
Phylotastic_Mobile_Application/test/images/hard/Phormidaceae.jpg

8 names are scraped including the words Periphytic and Thallus (not part of nomenclature)

With 'get tree' there is a tree with 3 tips that returns, where one tip is 'Thallis'

Thallis was not scraped from the initial list, and is an insect where the photo is of cyanobacteria.

Can we prevent this?  Many times i

[2016-03-24 15:54] hdliv opened #69 "delete list"
with testing, I already have ~20 lists.  It would be nice to be able to delete.

[2016-03-24 16:05] hdliv opened #70 "deleting names from list, and they come back"
When deleting names from a list, and uploading the same photo again into the list... the names appear 2x, instead of keeping the previous extracted names deleted.

I tried with the following photos

Phylotastic_Mobile_Application/test/images/hard/Eustigmatophyceae.jpg

Phylotastic_Mobile_Application/test/images/hard/Ochromonas.jpg

Phylotastic_Mobile_Application/test/images/hard/CompositeToL3.jpg

[2016-03-24 16:08] hdliv opened #71 "deleting more than one name at a time from a list"
OCR extracts 239 names from this photo:

Phylotastic_Mobile_Application/test/images/hard/listseedplants.jpg

Can we have an option of 'delete all' or capability of selecting several and deleting them at once?

[2016-03-24 16:23] arlin commented on #65
Thanks, I can verify that this launches the external browser in every case (OCR, OpenTree, GNRD, Phylotastic, and GitHub issue).

[2016-03-24 17:27] thanhnh-infinity commented on #42
I changed name to Pt_Mobile_Application

[2016-03-24 20:05] #58 closed, assigned to thanhnh-infinity

[2016-03-24 20:06] #60 closed, assigned to thanhnh-infinity

[2016-03-24 20:06] #57 closed, assigned to thanhnh-infinity

[2016-03-24 20:06] #53 closed, assigned to thanhnh-infinity

[2016-03-24 20:06] #50 closed, assigned to thanhnh-infinity

[2016-03-24 20:06] #55 closed, assigned to thanhnh-infinity

[2016-03-24 20:06] #54 closed, assigned to thanhnh-infinity

[2016-03-24 20:06] #52 closed, assigned to thanhnh-infinity

[2016-03-24 20:07] #46 closed, assigned to thanhnh-infinity

[2016-03-24 20:07] #65 closed, assigned to thanhnh-infinity

[2016-03-24 20:08] #42 closed, assigned to thanhnh-infinity

[2016-03-24 20:08] #43 closed, assigned to thanhnh-infinity

[2016-03-24 20:08] #51 closed, assigned to arlin

[2016-03-24 20:55] arlin opened #72 "timeout and exit"
If OpenTree does not return a result within X seconds, exit and alert the user: "Sorry!  We did not get a response in X seconds.  Please wait and try again later."

The value of X should be chosen as a balance between (1) giving OpenTree enough time to respond and (2) not annoying the user with a long wait.  I would suggest X = 15 s.

[2016-03-24 20:57] arlin commented on #69
I agree.  Offer capacity to delete list.  This could be done with swipe-to-delete or checkbox.

[2016-03-25 14:04] arlin commented on #68
The short answer is "yes, we can prevent this" .   Right now we are using fuzzy matching in GNRD and fuzzy matching again in OTT.  At some point in time, we need to implement strict matching and give the user options.

Meanwhile, another solution to the problem you are facing is simply to allow the user to edit names or enter them manually.

[2016-03-25 14:06] dimus commented on #68
GNRD returns edit distance in case of fuzzy matching. We found that if edit distance is more than 1 the result is most likely wrong

[2016-03-28 02:01] thanhnh-infinity commented on #56
Fixed, I used /)[a-z|A-Z]+/g

[2016-03-28 02:19] thanhnh-infinity commented on #70
This issue is fixed

[2016-03-28 04:36] thanhnh-infinity commented on #72
I implemented time-out for iOS Application when app made request to Open Tree.

BTW, I figured it out the problem for 34 species names that you cannot see the Tree result. It is not issue of Open Tree, Open Tree returned a Tree. The problem is that, because the result tree of Open Tree is huge and jsphylosvg cannot render the Tree visualization (Because in app right now, I used jsphylogsvg library

[2016-03-28 14:07] ducvan0212 commented on #72
Efficiency is exactly the reason why I had to look for d3 for visualization instead of just being plug-and-play as in case of phylojs.

[2016-03-28 14:47] arlin commented on #72
FYI, the tree has over 8000 tips.   So, I would call that a "huge" tree for purposes of visualization.  We should be able to support effective viewing of trees with dozens of species in the mobile app, and we should be able to support viewing trees with hundreds of species in the web portal.

Yes, @thanhnh-infinity, the problem is that phylo.cs.nmsu.edu is not making the correct query to OpenTree

[2016-03-28 14:53] arlin commented on #67
This is a bug in the underlying nmsu.edu services.  See phylotastic/phylo_webservices#12.

I'm labeling this as "wontfix" and putting it into "Done"

[2016-03-28 14:57] arlin commented on #67
On second thought, I'm going to leave this in "Ready" as a reminder and assign it to @hdliv, who should close this when phylotastic/phylo_webservices#12 is fixed and  he determines by testing that the problematic behavior no longer occurs.

[2016-03-28 15:34] hdliv opened #73 "tree view cut off at bottom"
i wasn't able to reproduce this but wanted to document it in case we see it again.  We should be able to export both our list of species and tree .  I will create another issue for exporting list.

located here: Pt_Mobile_Application/test/images/odd_tree.jpg

[2016-03-28 15:35] hdliv opened #74 "capability to export list"
I think it is useful to export the list in addition to the tree.

[2016-03-28 15:42] hdliv commented on #68
@arlin Thallus is scraped from the photo and not Thallis, so even with editing the name in the list, it won't give the correct tree -- at least in this case.  Also, not all students will understand or notice that the scraped name is not the name in the tree.
As for editing, is this issue already on waffle?

[2016-03-28 15:53] abusalehmdtayeen commented on #72
@arlin: yes, I would fix that today.

[2016-03-28 17:24] arlin opened #75 "tree viewer zoom limit"
I was unable to zoom out far enough to view a tree with only 23 tips.  The tree view was cut off at the bottom (missing one taxon), and the names were cut off at the right.

http://128.123.177.13/Phylotastic_DisplayTree_Project/display_tree.html?uri=&tree_data=(Atticora%20tibialis,(((Sitta%20carolinensis,((Troglodytes%20aedon,Troglodytes%20hiemalis)Troglodytes,Microcerculus%20marginatus,(Cinnycert

[2016-03-28 18:16] thanhnh-infinity commented on #72
Hi @abusalehmdtayeen  @arlin  : I think iOS app works well right now. We can see the tree

[2016-03-28 18:22] thanhnh-infinity commented on #75
Hi @arlin. You means this issues appeared in  viewing tree inside app (Tree View Page), or by exporting browser  ?

[2016-03-28 20:07] arlin commented on #75
I can view in browser:
![img_2056](https://cloud.githubusercontent.com/assets/1659198/14088741/249b2abc-f4ff-11e5-8d67-1158a379b3d5.PNG)
but not in app:
 ![img_2055](https://cloud.githubusercontent.com/assets/1659198/14088711/1747ba2e-f4ff-11e5-8b7b-1fc1d73b5256.PNG)

[2016-03-28 21:30] arlin commented on #67
@hdliv, I think this is fixed now.  Please try again when you have some time.

[2016-03-30 19:40] hdliv commented on #67
@arlin it now provides a tree with either 1 tip or 2...

[2016-03-30 19:49] hdliv commented on #70
@thanhnh-infinity Phylotastic_Mobile_Application/test/images/hard/Eustigmatophyceae.jpg

before three names were scraped, but now 4.  one is the genus name alone

but what is odd is the tree: Pt_Mobile_Application/test/images/odd_tree2.jpg

[2016-03-31 14:29] arlin commented on #73
I have seen this behavior as well, and I think this is related to #75.  In #75 this is described as a problem with a larger tree.  However, perhaps it is simply the case that the viewer is choosing the wrong frame size and fails to show the branch at the bottom of the tree image.

[2016-03-31 14:32] hdliv commented on #73
in #67 I also speak of this behaviour

[2016-03-31 14:47] arlin commented on #74
The tentative plan for the future is that any phylotastic app can communicate with the list server and interact with the user's lists.

[2016-03-31 14:59] arlin commented on #67
@hdliv, if you think this is fixed, then close it, please.

[2016-03-31 15:13] arlin commented on #64
I am not seeing an alert when I scrape from an image with no text.  I tried this twice.
- choose image with no text
- choose "Use this image"

  --> app alert with spinner says "Waiting for OCR engine..."
  --> return to Capture view with no other alert

[2016-03-31 15:14] arlin commented on #63
- choose list
- put phone in airplane mode
- choose "Get tree"

--> app alert says "Oops!  Network error.  Please check your connection and try again"

good, this is fixed

[2016-03-31 15:15] #63 closed, assigned to thanhnh-infinity

[2016-03-31 15:21] arlin commented on #56
My tests indicate that this is fixed.  Thanks!

[2016-03-31 15:21] #56 closed, assigned to thanhnh-infinity

[2016-03-31 15:23] arlin commented on #72
We need to find a test case for this.  Maybe some dinosaur names?

[2016-03-31 15:35] arlin commented on #72
I can't find a case that makes OpenTree time-out.  I tried dinosaurs but what happens in this case is that OpenTree immediately returns the result that there is no information.

[2016-03-31 15:37] arlin opened #76 "empty tree message"
Note that #72 is about timing out when underlying web services do not respond in time.  This ticket is about what happens when the tree service responds, but provides no tree.
1. get list of dinosaur taxa from paleodb (https://paleobiodb.org/data1.2/taxa/list.txt?id=91968&rel=all_children&show=attr)
2.  use a text editor to make a list of species names
3.  using mobile app, take photo of names on-

[2016-03-31 15:38] arlin commented on #62
How do I test this?  I do not know how to make login fail.  The app remembers my login.

[2016-03-31 15:53] arlin commented on #73
In the attached image, you can see that this is a matter of the frame being off, because the upper part of the missing name is visible (circled area)
![frame_issue](https://cloud.githubusercontent.com/assets/1659198/14181918/181b8d9c-f737-11e5-97f6-fc53f373257b.png)

[2016-03-31 15:57] arlin commented on #70
@hdliv, could you please comment directly on whether the issue has been resolved or not?

[2016-03-31 16:16] thanhnh-infinity commented on #62
Hi @arlin . Please remove the app in your device ; confirm that you remove app's data. After that, re-install again from TestFlight. App will require you credential

[2016-03-31 16:17] thanhnh-infinity commented on #72
Maybe you should use very slow network

[2016-03-31 16:18] thanhnh-infinity commented on #76
Yes, professor. Will fix it soon

[2016-03-31 16:57] thanhnh-infinity commented on #64
Hi @arlin  . Fixed it already. Will be updated in the next release Version 0.0.2 build 0.0.5

[2016-03-31 17:09] hdliv commented on #70
@arlin it seems so that is why i moved it to in review

[2016-03-31 17:09] hdliv commented on #70
at least i think i did

[2016-03-31 17:12] hdliv commented on #67
@arlin I didnt close it since the app  went from scraping 3 names and getting 48 tips, to scraping 5 names and getting 2 or 1 tip.  should this stay on the same ticket or a new one?

[2016-03-31 17:40] thanhnh-infinity commented on #61
@arlin It is fixed. Update will be affected from version 0.0.2 , build 0.0.5

[2016-03-31 17:41] thanhnh-infinity commented on #76
@arlin It is fixed. Update will be affected from version 0.0.2 , build 0.0.5

[2016-03-31 18:43] arlin commented on #62
OK, thanks.  I tested this and the error message is "Oops!  Username or password error.  Please try again"

That's good. Thanks.  @thanhnh-infinity,  I have noticed several alert messages that (like the one above) end without a period (".").  Is that intended, or is the period getting lost?

[2016-03-31 18:47] arlin commented on #76
OK, thanks.  I just downloaded the new version and this looks good.

[2016-03-31 18:47] hdliv commented on #67
3tips to 48tips not happening anymore.  new issue will be created for 5names to 1-2 names

[2016-03-31 18:47] #76 closed, assigned to thanhnh-infinity

[2016-03-31 18:48] #67 closed, assigned to hdliv

[2016-03-31 18:48] #70 closed, assigned to thanhnh-infinity

[2016-03-31 18:49] #62 closed, assigned to thanhnh-infinity

[2016-03-31 18:50] arlin commented on #64
Yes, thanks, that is very good.

[2016-03-31 18:50] #64 closed, assigned to thanhnh-infinity

[2016-03-31 19:19] arlin commented on #61
OK, thanks, this looks nicer.

[2016-03-31 19:20] #61 closed, assigned to thanhnh-infinity

[2016-03-31 19:20] thanhnh-infinity commented on #62
Thanks Dr @arlin . I will add "." at the end of all messages in our app in next release

[2016-03-31 19:22] arlin commented on #75
note that this is the same issue as #73

[2016-04-01 14:02] arlin opened #77 "authentication"
provide a means of individual authentication and account management, so that each user will have an account.  This could be done with google.

[2016-04-04 20:23] thanhnh-infinity commented on #77
Dr @arlin , Could I make separately this ticket to 3 smaller tickets ? That could be easier to manage.

Ticket 1 : Build Google OAuth 2.0 Client on Google Cloud Platform. After this step we will have client ID, client secret from Google that allow Mobile, Phylotastic server and Portal are able to work on credential together. => This ticket will be assigned to me @thanh-infinity

Ticket 2 : In Mobi

[2016-04-04 20:40] arlin opened #78 "add authentication feature"
build Authentication feature that will use client ID and client secret in phylotastic/phylotastic#139. When user uses Google account to login our application, app will obtain access_token from Google. After that, whenever app uses any Phylotastic server's Web Services, app has to attach access_token as a parameter of Web Service URL and submit to Phylotastic server.

[2016-04-04 20:41] arlin commented on #77
Done.  This ticket will be labeled wontfix and moved to Done.

[2016-04-04 20:42] #77 closed, assigned to thanhnh-infinity

[2016-04-04 20:47] thanhnh-infinity commented on #77
Thank you Dr Arlin

[2016-04-05 01:24] thanhnh-infinity commented on #69
Swipe-to-delete is working for deleting a list of species names (in main page) inside master list in version 0.0.2 , build 0.0.7 . At the moment, the visualization for deletion in Home Page is same as in species names page. It means that the object is selected to delete will  be changed color to "red" in list and the confirmation box appears to confirm deleting. I am continue working on more beaut

[2016-04-05 01:27] thanhnh-infinity commented on #59
I am continue working on graphic viz for deletion. At the moment, It only changes the selected object to delete to "red" color and a confirmation box will appear to confirm. I will figure it out some technicals would make it more beautful

[2016-04-05 12:19] hdliv commented on #73
@arlin when i export to browser, the full tree with no cut-off is viewed

[2016-04-05 12:47] hdliv opened #79 "more informative pop-up when no tree is found"

[2016-04-05 12:48] hdliv commented on #79
![img_1379](https://cloud.githubusercontent.com/assets/6361361/14282169/348b3a0e-fb0b-11e5-9535-783789bbaa0d.jpg)

[2016-04-05 12:50] hdliv commented on #79
Scenario:
After 'get tree' the user receives this popup
![img_1379](https://cloud.githubusercontent.com/assets/6361361/14282195/54e3827a-fb0b-11e5-9de6-a164889e64db.jpg)

But when you push ok..you have a blank screen:

![img_1380](https://cloud.githubusercontent.com/assets/6361361/14282219/6cdbc392-fb0b-11e5-9d85-f0368a8f1873.jpg)

When the user presses 'export' they then receive this:
![img_1381]

[2016-04-05 13:29] hdliv commented on #69
i was able to delete lists :)

[2016-04-05 15:14] arlin commented on #69
me too.  thanks!

[2016-04-05 15:14] #69 closed, assigned to thanhnh-infinity

[2016-04-05 15:51] arlin commented on #78
both @hdliv  and I have tried this.  I'm going to move it to Done.  thanks!

[2016-04-05 15:51] #78 closed, assigned to thanhnh-infinity

[2016-04-06 01:11] arlin opened #80 "feedback via gitter"
currently our instructions to users are to email us or use github issues to provide feedback.

a better approach might be direct users to gitter.
- go to https://gitter.im/phylotastic/phylotastic
- sign up for gitter and github if needed
- type "@\all, i have a { comment | question | feature request | bug report } on the mobile app"
- wait for someone to reply, then tell us

This way, we can discu

[2016-04-06 01:18] arlin commented on #80
already changed the instructions for testers.

[2016-04-06 02:07] arlin commented on #79
I was not able to replicate this.  @hdliv and I are trying to find consistent behavior.

[2016-04-06 02:09] arlin commented on #21
I have had extremely good results from the Longwood gardens signs.  I don't think we need much further testing.  Can we close this?

[2016-04-06 04:19] thanhnh-infinity commented on #21
Yes Dr @arlin , I will move it to Review

[2016-04-06 21:16] #21 closed, assigned to thanhnh-infinity

[2016-04-06 21:21] thanhnh-infinity commented on #73
Yes @hdliv , It is only in app. I am trying to fix it. But unfortunately, it is issue that comes from origin jsphylosvg library. So, I need to do some more researches in the case we are continue using jsphylosvg
There are some references links:
https://jsphylosvg.uservoice.com/forums/55902-general/suggestions/7252947-clear-and-reload-tree
http://stackoverflow.com/questions/30667884/why-is-the-bott

[2016-04-07 18:40] hdliv commented on #73
@thanhnh-infinity thanks for the explanation

[2016-04-19 18:32] hdliv commented on #79
@thanhnh-infinity I think you fixed this in a newer version.  should we move this ticket?

[2016-04-19 18:45] hdliv commented on #73
moving this since we have identified the problem.  is that ok @thanhnh-infinity

[2016-04-21 07:12] thanhnh-infinity commented on #79
Yes, @hdliv

[2016-04-21 11:21] hdliv commented on #79
@thanhnh-infinity  moving to done

[2016-04-21 11:21] #79 closed, assigned to thanhnh-infinity

[2016-04-21 21:31] arlin commented on #73
I posted a comment about this on the jsphylosvg site.   I also wrote to the author.  I met him when he first presented a demo of jsphylosvg at iEvoBio.

[2016-04-25 19:00] arlin opened #81 "viewer bug"
![img_2113](https://cloud.githubusercontent.com/assets/1659198/14795354/2a3a7cae-0af6-11e6-96c6-c4769194f423.PNG)

This bug happens due to extra parentheses in the Newick string.  You can replicate it in the web viewer as follows.  Here is the tree with extra:
  http://128.123.177.13/Phylotastic_DisplayTree_Project/display_tree.html?uri=&tree_data=(((((((Limacina%20helicina,Atlanta%20peroni),(Boli

[2016-04-25 20:40] arlin commented on #75
I'm removing this as it is identical to #73

[2016-04-25 20:41] #75 closed, assigned to thanhnh-infinity

[2016-04-25 21:11] thanhnh-infinity commented on #81
So, Dr @arlin , do you want me to remove extra parentheses OR wait for fixing from Open Tree ?

[2016-04-26 14:06] arlin commented on #81
@thanhnh-infinity, if you can verify that this is coming from OpenTree, then the next step is to notify them of the problem.  Before posting an issue, I would mention this in their chat room (https://gitter.im/OpenTreeOfLife/public), because I'm pretty sure that this bug has happened before.

[2016-04-28 14:00] arlin opened #82 "get mobile app into app store"
testflight is a barrier to sharing with non-technical users such as educators.  We want to do a soft release on the app store instead.

This requires passing Apple's review (https://developer.apple.com/app-store/review/guidelines/), including the human interface guidelines (https://developer.apple.com/library/ios/documentation/userexperience/conceptual/mobilehig/).

[2016-04-28 15:37] thanhnh-infinity commented on #81
Dr @arlin , Could you please send to me the species list that you built above tree?

I tried to copy/paste scientific names in above link and make request to OpenTree but it returned to me a different tree, therefore I cannot check the extra parenthesis.

http://phylo.cs.nmsu.edu:5004/phylotastic_ws/gt/ot/get_tree?taxa=Limacina%20helicina|Atlanta%20peroni|Bolitaena|Architeuthis%20dux|Lumbriculus%2

[2016-04-28 15:50] thanhnh-infinity commented on #82
Dr @arlin , I would like to confirm with you that do you want to release our app on Apple App Store ? If so, I will plan to work on this task.

There are some serious requirements from Apple before the app can be released. 2 above links are very important exam to pass Apple's requirements. In addition, Apple will required many material for app such as : icon in App Store (5 sizes of 5 iphone' scre

[2016-04-28 15:59] arlin commented on #82
@thanhnh-infinity, thanks for looking into this.  Here is the situation.  We did not get any feedback from our testers, so we have no idea whether the app is really useful.  This morning, the PIs met to discuss what to do.  We decided that we want to do a soft release, tweet about it with our friends, and share it with some educators.  Maybe some people will find a use for it. In order to do that,

[2016-04-28 16:31] thanhnh-infinity commented on #82
Yes, Dr @arlin , I will discuss with professor Pontelli

[2016-05-02 14:06] hdliv opened #83 "new wave of app testers"
Since our first testers encountered several problems and/or did not send feedback, we will send the app to a new wave of testers.

[2016-05-02 14:07] hdliv commented on #83
@arlin @thanhnh-infinity Let me know when we can send the request out to them and I will do it.

[2016-05-02 18:31] hdliv commented on #59
@thanhnh-infinity I noticed that when you swipe the text turns red.  Are you still working on this ticket or can we close it?

[2016-05-02 22:28] thanhnh-infinity commented on #59
Yes, @hdliv , I am still working on this ticket

[2016-05-05 17:07] thanhnh-infinity commented on #82
Apple's feedback :  @arlin  @epontell
17.2 Details

We noticed that your app uses Google login for authentication purposes but does not include account-based features offered by that site, which does not comply with the App Store Review Guidelines.

In order to use Google for authentication, your app must include significant account-specific functionality from Google. For example, your app should

[2016-05-05 17:10] thanhnh-infinity commented on #82
@arlin , I received feedback from Apple about Google Authentication that we are using. Dr Pontelli and I discussed about this and Dr Pontelli asked me to remove Authentication on Mobile App. If there is no problem with you, I will remove Authentication and continue submitting for App Store

[2016-05-05 17:15] arlin commented on #82
OK, so this means that apple doesn't want us to do the very thing that we wanted to do, which was just to piggy-back off of google's authentication without using their features.

Can you think of any way to "include sufficient account-based features from Google"?

[2016-05-05 17:48] epontell commented on #82
agree, we need to understand. The current app does really not need it (since we do not store/retrieve lists). It is safe to remove authentication in this version while we investigate what they really mean by ‘significant account features’.

Enrico

---

College of Arts & Sciences
New Mexico State University
Las Cruces, NM 88003

[2016-05-05 17:57] arlin commented on #82
i put some information about this (including how to search the web for others with the same issue) in the chat room

On May 5, 2016, at 1:48 PM, Enrico Pontelli <notifications@github.com<mailto:notifications@github.com>> wrote:

agree, we need to understand. The current app does really not need it (since we do not store/retrieve lists). It is safe to remove authentication in this version while we

[2016-05-14 12:39] hdliv commented on #83
closing.  the new testers can be contacted to download the app after our soft release.

[2016-05-19 17:46] thanhnh-infinity commented on #82
I removed Google Authentication and uploaded new version. They sent me a requirement about OpenTree license. So I sent them this link for OpenTree license : https://raw.githubusercontent.com/OpenTreeOfLife/opentree/master/LICENSE.txt

Next, they asked me about one of OpenTree project members, so, I sent the contact of Karen Cranston (karen.cranston@gmail.com , Duke University). Still waiting for A

[2016-05-19 17:54] thanhnh-infinity commented on #72
I tried to test this feature by this way:
1. Open app and take a picture
2. Get the list
3. Go to the list and Click View Tree, waiting Open Tree dialog will appear
4. Very quick to turn off Wifi or 4G on IPhone / Or unplug my Wifi router.
5. Waiting for end of timeout and saw the message.

[2016-05-23 17:21] hdliv commented on #83
sent email to cerca 50 people.

[2016-05-23 17:21] #83 closed, assigned to hdliv

[2016-06-09 19:46] #82 closed, assigned to thanhnh-infinity

[2016-07-07 16:31] arlin commented on #72
Good idea, @thanhnh-infinity.    I verified that this works, but it happens very quickly.  I was getting the "try again" error after about 7 seconds.  What waiting time are you using?

[2016-07-09 16:26] thanhnh-infinity commented on #72
Hi @arlin , because in the newest version, app can automatically detect no network and display warning message immediately when network is not connected. It means when you turn off Wifi or 4G, app will warn you.

[2016-07-13 19:41] arlin commented on #81
@thanhnh-infinity , I'm sorry for letting this slip.   First of all, there are 2 issues here.  One of them is that _our_ tree viewer should be able to handle non-branching internal nodes (i.e., internal nodes with a single child ) without messing it up.  So, we should fix our viewer so that either (1) it strips out such nodes or (2) it displays them properly.  The second issue is that OT might be

[2016-07-14 18:54] arlin commented on #72
OK, good.  I'm closing this.

[2016-07-14 18:54] #72 closed, assigned to thanhnh-infinity

[2016-07-18 06:11] thanhnh-infinity commented on #81
Thank you Dr @arlin , I will figure it out this issue

[2016-07-22 14:51] arlin commented on #73
Sorry for not following up on this.  SS (original developer) wrote back to me and says  "If you're able to generate a page that reproduces this for me that would be very helpful.

Have you by any chance tried to adjust the height property? "

[2016-08-29 15:53] hdliv opened #84 "Screencast"
record screencast for the mobile app

[2016-08-29 15:54] hdliv commented on #84
Practicing recordings

[2016-08-29 15:57] hdliv commented on #84
This is the same issue as #34 so I will close it

[2016-08-29 15:58] #84 closed, assigned to hdliv

[2016-08-29 15:59] hdliv commented on #34
practicing and will go back and write the script

[2016-08-29 21:35] arlin opened #85 "fix empty list message"
Currently in ./Phylotastic_Mobile_Application/www/templates/species_names_list_view.html there is an error message activated when picking "get tree" for an empty list.  The message says "There is no any list of species names".  The way of saying this in English would be either "There is not any list" (singular) or "There are not any names" (plural).

I would recommend instead "The list is empty.

[2016-09-01 07:11] thanhnh-infinity commented on #81
Hi Dr @arlin , Could you update and install our newest Mobile app ? I tried to check your text that you mentioned above and get the tree : (((((Architeuthis dux,(Limacina helicina,Atlanta peroni)),Lumbriculus variegatus),Phronima sedentaria),(Orycteropus afer,(Neocirrhites armatus,Pomacanthus imperator))),Diploria labyrinthiformis);

And we can see this tree :

![image1](https://cloud.githubuserco

[2016-09-01 07:12] thanhnh-infinity commented on #85
I fixed them . Could you update  our newest mobile app ?

[2016-09-01 07:16] thanhnh-infinity commented on #73
I have not changed the height property. jsphylosvg is javascript, works only on Web. In order to work on our mobile app, I had to re-code everything based on jsphylosvg features because the app's language in iOS is Objective-C and Android is JAVA. I tried to search solution but I think it is not solved yet. I sent link to download our application to the author.

[2016-09-01 07:39] thanhnh-infinity commented on #66
I fixed it in newest version

[2016-09-01 16:19] hdliv commented on #73
@thanhnh-infinity thank you.  I received the notice.

[2016-09-01 19:57] hdliv opened #86 "Android version for class"
have an Android version of the app for classroom exercises

[2016-09-01 19:58] hdliv commented on #86
@thanhnh-infinity and I have talked about this issue but just wanted to document it

[2016-09-07 13:43] hdliv commented on #68
@arlin We are now using exact matching, correct?  I will move this to In review.  Feel free to move it back if you feel it is appropriate @thanhnh-infinity

[2016-09-13 14:10] arlin commented on #85
OK, what I am seeing now is that a message appears automatically for an empty list, indicating that the list is empty and directing the user to "How To" for how to add names.  I think this is helpful. Another way to state it would be "Empty list: click camera icon to add names (see How To)."

Then, when I click on "Get Tree", I see a message saying "We are sorry.  We could not find phylogeny infor

[2016-09-13 14:21] arlin commented on #81
Try this tree:

http://128.123.177.13/Phylotastic_DisplayTree_Project/display_tree.html?uri=&tree_data=((A,B),((C,D)));&format=newick_text

Then this tree:

http://128.123.177.13/Phylotastic_DisplayTree_Project/display_tree.html?uri=&tree_data=((A,B),(C,D));&format=newick_text

Do you see the difference?

[2016-09-13 14:32] arlin commented on #66
Thanks.  I tested this again with the same image and there are no longer any duplicate names.

[2016-09-13 14:32] #66 closed, assigned to thanhnh-infinity

[2016-09-13 14:33] arlin commented on #73
I do not see this problem anymore.   @hdliv, are you still seeing this?

[2016-09-13 14:34] arlin commented on #59
In the latest version of the app, swipe-to-delete does not seem to work.  Can you confirm this @thanhnh-infinity  or @hdliv ?

[2016-09-13 14:42] hdliv commented on #73
@arlin OK for me

[2016-09-13 14:56] arlin commented on #73
closing

[2016-09-13 14:56] #73 closed, assigned to thanhnh-infinity

[2016-09-13 17:51] thanhnh-infinity commented on #81
@arlin , But the links you showed me above, they are a Web page, that is not mobile application. In mobile application, bug is not procedured

[2016-09-13 18:00] thanhnh-infinity commented on #59
Hi @arlin , Could you pls re-check again ? It works well in my phone

[2016-09-13 18:13] arlin commented on #81
@thanhnh-infinity, this is a photo of a list that will produce the bug.  If you can get this photo into your phone's photo library, the mobile app will be able to scrape out the names and you can reproduce the bug.  If you don't know how to get a photo from your computer into the phone's photo library, I can explain how I do it.

![img_2414](https://cloud.githubusercontent.com/assets/1659198/18485

[2016-09-13 22:14] arlin commented on #59
OK, I checked again and I found that it works.  After practicing a few times, the gesture seems easy, if I remember to swipe right (not left) and to make a relatively long and level sweep.

However, the fact that I forgot how to do this means it does not work well.  Users will be confused.

[2016-09-13 22:36] arlin commented on #34
@hdliv, I have not looked at these yet.  Let's set aside a time and go over them together, to think about what we want to do.

[2016-09-14 11:33] hdliv commented on #34
@arlin no problem.  it was more of practice runs in both English and Portuguese

[2016-09-15 11:13] thanhnh-infinity commented on #86
@hdliv Could you try the first version for Android ?

https://github.com/phylotastic/Pt_Mobile_Application/blob/master/installation/Phylotastic_TreeToGo.apk

[2016-09-15 11:31] hdliv commented on #86
@thanhnh-infinity I would need an android fist.  @arlin do you know of someone with an andrioid that we could use for testing

[2016-09-15 12:34] arlin commented on #86
sorry, i do not know

[2016-09-20 15:14] arlin commented on #86
@\all, someone recommend a cheap android device, and I will buy it off the grant for testing purposes.

[2016-09-20 15:46] thanhnh-infinity commented on #86
@arlin  How about budget do you consider ?

[2016-09-20 15:48] arlin commented on #86
It depends on how much we are going to use it.  If we can take this to meetings (conferences, meetings with educators) and use it for demonstrations, then maybe it will be worthwhile to spend several hundred dollars to get a nice tablet.  However, if it is just for testing, I want to spend as little as possible.

On Sep 20, 2016, at 11:46 AM, Thanh Nguyen notifications@github.com wrote:

---

Arli

[2016-09-20 16:40] arlin commented on #12
closing this with wontfix

[2016-09-20 16:40] #12 closed, assigned to thanhnh-infinity

[2016-09-26 23:13] arlin opened #87 "use list server"
Integrate with list server so that user lists can be viewed in portal and accessed with web services.

[2016-09-27 16:54] arlin commented on #86
@thanhnh-infinity, do you want to make a recommendation on this?   Something in the range of $100 to $300?

[2016-09-29 15:09] thanhnh-infinity commented on #86
I have some phones/tablets, you may consider :

LG Phone : https://www.amazon.com/Unlocked-LG-Phoenix-Flash-Android/dp/B01G4W0I72/ref=sr_1_3?ie=UTF8&qid=1475161452&sr=8-3&keywords=LG+Android+Phone
      or
https://www.amazon.com/LG-G3-Vigor-D725-Smartphone/dp/B00S22T1YE/ref=sr_1_14?ie=UTF8&qid=1475161452&sr=8-14&keywords=LG+Android+Phone

Samsung Phone :  https://www.amazon.com/Samsung-Galaxy-Gran

[2016-09-29 15:10] thanhnh-infinity commented on #86
With Samsung Tablet, I have not found 3G/Wifi version, above tablet is Wifi only

[2016-09-29 16:17] arlin commented on #86
Do you think 3G is important?  I was assuming we would just rely on wifi.  What about these?

https://www.amazon.com/Dragon-Touch-Android-Bluetooth-Unlocked/dp/B014SMN0A2/ref=sr_1_2?s=electronics&ie=UTF8&qid=1475165488&sr=1-2&keywords=tablets+with+free+3g+wifi+android

https://www.amazon.com/Samsung-Sm-T116-Phone-Tablet-Black/dp/B0192FSUR8/ref=sr_1_4?s=electronics&ie=UTF8&qid=1475165636&sr=1-4&key

[2016-09-29 16:19] hdliv commented on #86
if you want to go cheaper .  Acer has tablets

[2016-09-29 16:19] arlin commented on #86
I have another question.  We want this for two different purposes: testing and demos (showing off the app to stakeholders).  For demos, a tablet is preferable.  But if most users are going to be using phones, then a phone-sized device is better for testing.  What do you think?

[2016-09-30 20:27] thanhnh-infinity commented on #86
I think phones are better because most of users are using phones (for both demo and testing) and it has both wifi and 3G.

[2016-10-20 13:57] #34 closed, assigned to arlin, hdliv

[2016-11-03 11:38] #68 closed, assigned to thanhnh-infinity

[2017-02-22 15:44] arlin commented on #85
This is not a priority so I'm moving this into backlog.  However, I now realize it is a mistake to send the user immediately to "HowTo" instead of just telling the user what to do, like this:

"(Empty list) Click the camera icon to build a list of names from signage (see HowTo [link])."

Also, we still have a misleading message if the user clicks "Get Tree" for an empty list.  The message says "We

[2017-02-22 15:45] arlin commented on #59
moving this  into backlog.

[2017-02-22 15:45] arlin commented on #81
moving this into backlog until we decide to start working on the mobile app again.

[2017-02-22 16:07] arlin commented on #87
this goes into backlog until we re-prioritize work on the mobile app

[2017-03-08 22:09] #86 closed, assigned to thanhnh-infinity

[2018-02-13 04:42] #22 closed, assigned to thanhnh-infinity